body {
  font-family: $Roboto;
  font-size: 14px;
}

p {
  font-size: 14px;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f5f5f5;
  white-space: nowrap;
  border-radius: 5px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: white;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

pre {
  display: block;
  padding: 9.5px;
  margin: 30px 0 0;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: normal;
  overflow:auto;
  white-space:pre;
  color: #222;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre;
    background-color: transparent;
    border-radius: 0;
  }
}

// Docs title

.docs-title {
  padding: 4rem 15%;
  background: $docs-color;
  margin-top: 45px;

  @media #{$medium-up}{
    padding: 8rem 15%;
  }

  h3 {
    margin: 0;
    color: $white;
  }
  h4 {
    font-weight: 200;
    margin: 0;
    color: $white;
  }

  p {
    color: $white;
    margin-top: 30px;
  }
}

// Side nav

.docs-side-nav {
  padding: 57px 0px 15px;
  position: fixed;
  top: 0px;
  height: 100%;
  right: 0;
  width: 220px;
  background: $smoke;
  overflow: auto;
  z-index: 9;
  box-shadow: inset 10px 0 3px -10px $steel;
  transform: translateX(185px);
  transition: all 0.25s ease;

  @media only screen and (min-width: 1850px) {
    transform: translateX(0px);
  }

  &.is-active {
    transform: translateX(0px);
  }

  .fi-thumbnails {
    display: block;
    width: 100%;
    padding: 0 14px 8px;
    border-bottom: 1px solid $gainsboro;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 35px;

    li {
      margin: 0;
      width: 100%;

      &:last-child {
        a {
          border: 0px;
        }
      }

      a {
        text-decoration: none;
        color: $jet;
        display: inline-block;
        padding: 8px 10px;
        width: 100%;
        border-bottom: 1px solid $gainsboro;

        &:hover {
          text-decoration: underline;

          .fi-arrow-up {
            background: $oil;
            color: $white;
          }
        }

        .fi-arrow-up {
          border: 1px solid $oil;
          display: inline-block;
          width: 24px;
          height: 23px;
          text-align: center;
          margin-right: 5px;
        }
      }
    }
  }
}

// Page

.docs-page {
  width: 100%;

  @media #{$large-up}{
    padding-right: 35px;
  }
}

// Docs nav

.docs-nav {
  height: 45px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
  width: 100%;
  box-shadow: 0 0 2px $charcoal;
  padding: 0;
  z-index: 10;

  .docs-nav-main {
    display: none;
    width: 100%;
    float: left;

    &.is-active {
      display: inline-block;
      clear: both;
      border-top: 1px solid $iron;
      box-shadow: 0 2px 3px $iron;
    }

    @media #{$large-up}{
      display: block;
      width: auto;

      &.is-active {
        display: block;
        clear: none;
        border-top: 0px solid $iron;
        box-shadow: none;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    background: $white;
    @media #{$large-up}{
      background: none;
    }

    li {
      margin: 0;
      padding: 0;
      float: left;
      border-top: 1px solid $iron;
      width: 100%;

      &:first-child {
        border-top: 0px;
      }

      &:last-child {
        border-bottom: 1px solid $iron;
      }

      a {
        text-decoration: none;
        padding: 12px 20px;
        display: inline-block;
        color: $jet;
        height: 45px;
        width: 100%;

        &:hover {
          background: $smoke;
        }

        &.is-active {
          color: $docs-color;
          font-weight: 600;
        }
      }

      @media #{$large-up}{
        border-top: 0px solid $iron;
        border-left: 1px solid $iron;
        width: auto;

        &:first-child {
          border-left: 0px;
        }
        &:last-child {
          border-bottom: 0px solid $iron;
          border-right: 1px solid $iron;
        }

        a {
          width: auto;
        }
      }
    }
  }
}

// Docs item

.docs__item {
  border-top: 1px solid $gainsboro;
  float: left;
  overflow: hidden;
  min-height: 200px;
  width: 100%;
  clear: both;

  &:first-child {
    border-top: 0px;
  }

  .docs__item-desc:nth-child(1) {
    border-top: 0px;
  }
  .docs__item-view:nth-child(2) {
    border-top: 0px;
  }
}

.docs__item-desc {
  background: $silver;
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: 5px solid $white;
  border-bottom: 1px solid $gainsboro;
  padding-left: 20px;
  padding-right: 20px;

  @media #{$small-up}{
    padding-left: 30px;
    padding-right: 30px;
  }
  @media #{$xlarge-up}{
    padding-left: 20px;
    padding-right: 20px;
  }
  @media #{$xxlarge-up}{
    padding-left: 40px;
    padding-right: 40px;

    h4, p {
      max-width: 1050px;
      margin: 0 auto;
    }
  }

  h4 {
    color: $docs-color;
    font-weight: 400;
    margin-top: 0;
  }
}

.docs__item-view {
  padding: 20px 20px 45px;
  max-width: 1100px;
  //TODO: look into last column element floating right
  //float: left!important;
  border-top: 5px solid $white;
  margin: 0 auto;

  @media #{$xxlarge-up}{
    margin: 0 auto;
  }

  h4.docs-heading {
    color: $base;
    font-weight: 400;
    margin-top: 0px;
  }
}


// Colors

.color-swatch {
  padding-bottom: 90%;
  margin: 0px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);

  &:hover {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  }
}
.color-swatch-desc {
  text-align: center;
  padding: 5px 0 20px;
}