
// fonts
$Roboto: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$RobotoCond: "RobotoCond";
$RobotoSlab: RobotoSlab, serif;

//colors
$crimson: #EF4357;
$babyblue: #43EFE8;

$beige: #d0b49b;
$fadedblue: #C7CDC0;
$pink: #EA4F6C;
$orange: #FA6A64;
$burgandy: #383137;

$docs-color: $beige;

$primary: $beige;
$secondary: $fadedblue;