
// fonts
$Roboto: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$RobotoCond: "RobotoCond";
$RobotoSlab: RobotoSlab, serif;
$akula: "Akula";

//colors
$crimson: #EF4357;
$babyblue: #43EFE8;

$beige: #d0b49b;
$fadedblue: #C7CDC0;
$pink: #EA4F6C;
$orange: #E84A5F;
$burgandy: #383137;
$blood: #C21B12;
$green: #81BDA4;
$blue: #5E9FA3;
$purple: #442945;
$orange: #EA810B;

$docs-color: $beige;

$primary: $orange;
$secondary: $purple;