---
layout: default
title: Document
---

{{#parseJSON '{
  "extra-class": "",
  "img": "/assets/imgs/TopBanner1.jpg",
  "title": "Embrace The Colors",
  "title-font": "akula",
  "button": "true",
  "button-text": "Shop",
  "button-link": "http://shop.panicpop.com/"
}'}}
{{> hero }}
{{/parseJSON}}

<!--{{>newsletter}}-->

{{#parseJSON '{
  "module-class": "bg-white",
  "extra-class": "",
  "img": "/assets/imgs/luna.jpg",
  "img-class": "fleft",
  "content-class": "fleft",
  "title": "New",
  "copy": "<strong>LUNA - $17.99</strong></br>Cats are always cooler when they are magical!",
  "button": "true",
  "button-text": "Shop",
  "button-link": "http://shop.panicpop.com/all/luna"
}'}}
{{> shout }}
{{/parseJSON}}

{{#parseJSON '{
  "module-class": "bg-secondary trapezoid-right-large",
  "extra-class": "is-white",
  "img": "http://shop.panicpop.com/image/cache/data/geekin_3-450x600.jpg",
  "img-class": "fright",
  "content-class": "fright",
  "title": "Sale",
  "copy": "<strong>Geekin Out - $12.99</strong></br>Meko kitty is geeking out. </br>Meko Kemeko is a PanicPOP character by Kevin Vance. ",
  "button": "true",
  "button-text": "Shop",
  "button-link": "http://shop.panicpop.com/all/geekinout",
  "button-class": "button--white"
}'}}
{{> shout }}
{{/parseJSON}}

{{> instagram-feed }}

<div class="js-div a"></div>

<div class="owl-carousel">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
    <div class="item"><h4>6</h4></div>
    <div class="item"><h4>7</h4></div>
    <div class="item"><h4>8</h4></div>
    <div class="item"><h4>9</h4></div>
    <div class="item"><h4>10</h4></div>
    <div class="item"><h4>11</h4></div>
    <div class="item"><h4>12</h4></div>
</div>