---
layout: default
title: Document
---

{{#parseJSON '{
  "extra-class": "",
  "img": "http://il4.picdn.net/shutterstock/videos/11667416/thumb/11.jpg",
  "title": "Limitless",
  "title-font": "akula",
  "button": "true",
  "button-text": "Shop",
  "button-link": "#!"
}'}}
{{> hero }}
{{/parseJSON}}

{{>newsletter}}

{{#parseJSON '{
  "module-class": "bg-white",
  "extra-class": "",
  "img": "https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/e35/10948903_1463753383946537_579682489_n.jpg",
  "img-class": "fleft",
  "content-class": "fleft",
  "title": "New",
  "copy": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.",
  "button": "true",
  "button-text": "Shop",
  "button-link": "#!"
}'}}
{{> shout }}
{{/parseJSON}}

{{#parseJSON '{
  "module-class": "bg-secondary trapezoid-right-large",
  "extra-class": "is-white",
  "img": "https://scontent-iad3-1.cdninstagram.com/hphotos-xfa1/t51.2885-15/e35/11356775_1617349545213216_1111025595_n.jpg",
  "img-class": "fright",
  "content-class": "fright",
  "title": "Sale",
  "copy": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy.",
  "button": "true",
  "button-text": "Shop",
  "button-link": "#!",
  "button-class": "button--white"
}'}}
{{> shout }}
{{/parseJSON}}

{{> instagram-feed }}

<div class="js-div a"></div>

<div class="owl-carousel">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
    <div class="item"><h4>6</h4></div>
    <div class="item"><h4>7</h4></div>
    <div class="item"><h4>8</h4></div>
    <div class="item"><h4>9</h4></div>
    <div class="item"><h4>10</h4></div>
    <div class="item"><h4>11</h4></div>
    <div class="item"><h4>12</h4></div>
</div>