<div class="docs-nav">
  <a href="#!" class="hamburger hide-for-large-up js-hamburger">
    <i class="fi-list"></i>
    <i class="fi-x"></i>
  </a>
  <ul class="docs-nav-main js-hamburger-cont">
    <li>
      <a href="index.html" class="{{#is title 'Docs'}}is-active{{/is}}">
        <i class="fi-home"></i>
      </a>
    </li>
    <li>
      <a href="overview.html" class="{{#is title 'Overview'}}is-active{{/is}}">
        Overview
      </a>
    </li>
    <li>
      <a href="styles.html" class="{{#is title 'Styles'}}is-active{{/is}}">
        Styles
      </a>
    </li>
    <li>
      <a href="elements.html" class="{{#is title 'Elements'}}is-active{{/is}}">
        Elements
      </a>
    </li>
    <li>
      <a href="modules.html" class="{{#is title 'Modules'}}is-active{{/is}}">
        Modules
      </a>
    </li>
    <li>
      <a href="components.html" class="{{#is title 'Components'}}is-active{{/is}}">
        Components
      </a>
    </li>
    <li>
      <a href="forms.html" class="{{#is title 'Forms'}}is-active{{/is}}">
        Forms
      </a>
    </li>
  </ul>
</div>