<div class="mailing-list">
  <div class="center">
    <div class="inline-block">
      <div class="mailing-list__title">
        <div class="valign">
          <div class="valign-inner">
            <p><strong>NEWSLETTER:</strong></br> Get Sales, Updates and More</p>
          </div>
        </div>
      </div>
      <input class="mailing-email" type="email" placeholder="Email"/>
      <input class="button" type="submit" value="Submit"/>
      </div>
    </div>
  </div>
</div>

<div class="footer">

  <div class="row">
    <div class="footer__link xsmall-12 medium-auto column">
      <p>
        Shop
      </p>

      <ul>
        <li>
          <a href="#!">All</a>
        </li>
        <li>
          <a href="#!">Shirts</a>
        </li>
        <li>
          <a href="#!">Pants</a>
        </li>
        <li>
          <a href="#!">Accessories</a>
        </li>
        <li>
          <a href="#!">Sale</a>
        </li>
      </ul>
    </div>

    <div class="footer__link xsmall-12 medium-auto column">
      <p>
        Games
      </p>

      <ul>
        <li>
          <a href="#!">All</a>
        </li>
        <li>
          <a href="#!">Chest Quest</a>
        </li>
        <li>
          <a href="#!">Black Sea Odyssey</a>
        </li>
      </ul>
    </div>

    <div class="footer__link xsmall-12 medium-auto column">
      <p>
        General
      </p>

      <ul>
        <li>
          <a href="#!">Accounts</a>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
      </ul>
    </div>

    <div class="footer__social">
      <p>
        Connect
      </p>
      <ul>
        <li>
          <a href="#!" class="fi-social-facebook">
          </a>
        </li>
        <li>
          <a href="#!" class="fi-social-twitter">
          </a>
        </li>
        <li>
          <a href="#!" class="fi-social-instagram">
          </a>
        </li>
        <li>
          <a href="#!" class="fi-social-youtube">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__disclaimer">
    <div class="row">
      <p>&copy; PANICPOP LLC
    </div>
  </div>

</div>