<div class="footer bg-space">

  <div class="row footer__main">
    <div class="footer__link xsmall-12 medium-auto column">
      <p>
        Shop
      </p>

      <ul>
        <li>
          <a href="http://shop.panicpop.com/all">All</a>
        </li>
        <li>
          <a href="http://shop.panicpop.com/shirts">Shirts</a>
        </li>
        <li>
          <a href="http://shop.panicpop.com/hoodies">Hoodies</a>
        </li>
        <li>
          <a href="http://shop.panicpop.com/bottoms">Bottoms</a>
        </li>
        <li>
          <a href="http://shop.panicpop.com/accessories">Accessories</a>
        </li>
        <li>
          <a href="http://shop.panicpop.com/sale">Sale</a>
        </li>
      </ul>
    </div>

    <div class="footer__link xsmall-12 medium-auto column">
      <p>
        Games
      </p>

      <ul>
        <li>
          <a href="http://blackseaodyssey.com/" target="_blank">Black Sea Odyssey</a>
        </li>
      </ul>
    </div>

    <div class="footer__link xsmall-12 medium-auto column">
      <p>
        General
      </p>

      <ul>
        <li>
          <a href="http://shop.panicpop.com/index.php?route=account/account">Accounts</a>
        </li>
        <li>
          <a href="http://panicpop.com/info.php">Contact</a>
        </li>
      </ul>
    </div>

    <div class="footer__social">
      <p>
        Connect
      </p>
      <ul>
        <li>
          <a href="http://facebook.com/PANICPOPbrand" target="_blank" class="fi-social-facebook">
          </a>
        </li>
        <li>
          <a href="http://twitter.com/PANICPOP" target="_blank" class="fi-social-twitter">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/panicpop/" target="_blank" class="cif-instagram">
          </a>
        </li>
        <li>
          <a href="http://www.youtube.com/user/PANICPOPtoons" class="fi-social-youtube">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__disclaimer">
    <div class="row">
      <p>&copy; PANICPOP LLC
    </div>
  </div>

</div>