<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>

<meta name="description" content="TODO">
<meta name="keywords" content="TODO">

<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
<!-- 196 x 196 size -->
<link rel="icon" href="path/to/favicon.png">

<!-- android color and image -->
<meta name="theme-color" content="#db5945">
<link rel="icon" sizes="192x192" href="nice-highres.png">

<!-- TODO og tags for FB share -->
<meta property="og:title" content="TODO"/>
<meta property="og:image" content="TODO"/>
<meta property="og:site_name" content="TODO"/>
<meta property="og:description" content="TODO"/>
<meta property="og:type" content="TODO"/>

<link rel="stylesheet" href="/assets/css/main.css">

<script src="/assets/js/libs/modernizr.min.js"></script>

<!--[if lte IE 9]>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
// Picture element HTML5 shiv
document.createElement( "picture" );
</script>
<script src="/assets/js/libs/picturefill.min.js" async></script>