<div class="module bg-pattern">
  <div class="row">
    <ul class="m_instagram-feed xsmall-block-grid-2 small-block-grid-3 medium-block-grid-4 large-block-grid-6 no-gutter">
      <li class="instagram-feed__gradient">
        <img src="http://placehold.it/300" class="fleft hunw"/>
        <div class="instagram-feed__cto">
          <a href="#!" class="instagram-feed__hashtag">#panicpop</a>
          <i class="cif-instagram icon"></i>
          <a href="#!" class="instagram-feed__link button button--small button--white">Follow</a>
        </div>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>

      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
      <li>
        <img src="http://placehold.it/300" class="fleft hunw"/>
      </li>
    </ul>
  </div>
</div>