<div class="module bg-pattern">
  <div class="row">
    <ul class="m_instagram-feed xsmall-block-grid-2 small-block-grid-3 medium-block-grid-4 large-block-grid-6 no-gutter">
      <li class="instagram-feed__gradient">
        <img src="http://placehold.it/300" class="fleft hunw"/>
        <div class="instagram-feed__cto">
          <a href="https://www.instagram.com/panicpop/" target="_blank" class="instagram-feed__hashtag">@panicpop</a>
          <i class="cif-instagram icon"></i>
          <a href="https://www.instagram.com/web/friendships/260496560/follow/" class="instagram-feed__link button button--small button--white">Follow</a>
        </div>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/91j7VSDhHU/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xft1/t51.2885-15/e35/11419217_1682193358664234_1804512851_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/9txYUwFreD/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-15/e35/12063068_1048790611821024_1258393658_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/9m2RnoGGUx/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xpt1/t51.2885-15/e35/11925699_127401377619967_74169371_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/9AIFnmlE4T/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xtp1/t51.2885-15/e35/p480x480/12142580_722810774515912_74525737_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/7W6w2XBd7q/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xft1/t51.2885-15/e35/11373960_818692724915508_1603052067_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>

      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/7ObcjQs72Z/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xap1/t51.2885-15/e35/11909239_900609926684641_975924238_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/63ZhRlGGRS/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xft1/t51.2885-15/e35/11821696_511673308985853_1331846922_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/6kXRxlEQp4/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xap1/t51.2885-15/e35/11266371_1643029205963549_139443500_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/6SiDBrGGZ9/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xtp1/t51.2885-15/s750x750/sh0.08/e35/11313776_943980402307360_1194310164_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/6JTGJwBGGl/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xtf1/t51.2885-15/s750x750/sh0.08/e35/11850054_307653002692446_863104505_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
      <li>
        <a class="instagram-feed__img-link" target="_blank" href="https://www.instagram.com/p/599LmOGGev/">
          <img src="http://placehold.it/300" class="fleft hunw"/>
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xft1/t51.2885-15/s320x320/e35/11258873_847104032063344_1939780820_n.jpg" class="instagram-feed__img"/>
        </a>
      </li>
    </ul>
  </div>
</div>