<div class="module bg-space">
  <div class="row">
    <div class="mailing-list">
      <div class="center">
        <div class="inline-block">
          <div class="mailing-list__title">
            <div class="valign">
              <div class="valign-inner">
                <p><strong>NEWSLETTER:</strong></br> Sign Up for 20% off &amp; more</p>
              </div>
            </div>
          </div>
          <input class="mailing-email" type="email" placeholder="Email"/>
          <input class="button button--color button--filled" type="submit" value="Submit"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>