<div class="m_product-attr xsmall-24 medium-12 fleft">
  <div class="product-attr__image">
    <img src="{{img}}" />
  </div>
  <div class="product-attr__content">
    <h4 class="product-attr__title">
      {{title}}
    </h4>
    <p class="product-attr__copy">
      {{copy}}
    </p>
  </div>
</div>