.bg-oil {
  background-color: $oil;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-fone {
  background-color: #f1f1f1;
}

.bg-orange {
  background-color: #D38D5A;
}

.bg-green {
  background-color: $secondary;
}

.bg-green-black {
  background: linear-gradient( to right, $secondary, $secondary 50%, #000 50%);
}

.bg-secondary {
  background-color: $secondary;
}

// BG images

.bg-sizechart {
  //background-image: url(/assets/imgs/size-chart.jpg);
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.bg-pattern {
  background-image: url(/assets/imgs/bgs/pattern.jpg);
}

.bg-space {
  background-image: url(/assets/imgs/bgs/stardust.png);
}

// Colors

.color-white {
  color: $white;
}
