.button::before {
  content: ' ';
  display: block;
  word-spacing : -4px ;
}

.button {
  border: 2px solid $oil;
  color: $oil;
  text-decoration: none;
  padding: 0.8rem 1.7rem 0.70rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.35s ease;

  &:hover {
    background: $oil;
    color: $white;
  }

  // Sizes
  &.button--xsmall {
    font-size: 10px;
    padding: 0.45rem 0.8rem 0.4rem;
  }

  &.button--small {
    font-size: 12px;
    padding: 0.5rem 1.1rem 0.45rem;
  }

  &.button--large {
    font-size: 20px;
    padding: 1rem 2.3rem 0.95rem;
  }

  // Styles
  &.button--filled {
    background: $oil;
    color: $white;

    &:hover {
      color: $white;
      border-color: scale-color($oil, $lightness: -50%);
      background: scale-color($oil, $lightness: -50%);
    }

    &.button--to-filled-color {
      &:hover {
        color: $white;
        border-color: $primary;
        background: $primary;
      }
    }
  }

  &.button--to-filled-color {
    &:hover {
      color: $white;
      border-color: $primary;
      background: $primary;
    }
  }
}

.button--color {
  border-color: $primary;
  color: $primary;

  &:hover {
    background: $primary;
    color: $white;
  }

  &.button--filled {
    background: $primary;
    color: $white;

    &:hover {
      border-color: scale-color($primary, $lightness: -30%);
      background: scale-color($primary, $lightness: -30%);
    }
  }
}


// Button Ripple

.ripplelink {
  position:relative;
  overflow:hidden;
  transition: all 0.2s ease;
  z-index:0;

  &:hover{
    z-index:1;
    box-shadow:rgba(0, 0, 0, 0.15) 0 3px 3px 0;
  }
}

.ripple-ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  transform:scale(0);
}

.ripple-animate {
  animation:ripple 0.65s linear;
}

/*
@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}*/
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}