.cssclippathpolygon {
  @media #{$medium-up}{
    .trapezoid-left {
      clip-path: polygon(0 0, 100% 15px, 100% 100%, 0% 100%);
      padding-top: 10px;
      padding-bottom: 15px;
      margin-top: -15px;
      position: relative;
    }

    .trapezoid-right {
      clip-path: polygon(0 15px, 100% 0%, 100% 100%, 0% 100%);
      padding-top: 10px;
      padding-bottom: 15px;
      margin-top: -15px;
      position: relative;
    }

    .trapezoid-unpadded {
      padding: 0;
    }
  }

  @media #{$large-up}{
    .trapezoid-right-large {
      clip-path: polygon(0 70px, 100% 0%, 100% 100%, 0% 100%);
      padding-top: 40px;
      padding-bottom: 0px;
      margin-top: -100px;
      position: relative;
    }
  }
  @media #{$xlarge-up}{
    .trapezoid-right-large {
      clip-path: polygon(0 110px, 100% 0%, 100% 100%, 0% 100%);
      padding-top: 40px;
      padding-bottom: 0px;
      margin-top: -140px;
      position: relative;
    }
  }

  .circle {
    clip-path: circle(50% at 50% 50%);
  }
}