.mailing-list {
  width: 100%;
  float: left;
  padding: 14px;

  p {
    color: $white;
    font-weight: bold;
    display: inline-block;
    width: auto;
    padding: 0px 10px 0;
    text-align: center;
    margin: 0px auto 0;
    line-height: 1em;
    font-weight: 400;

    @media #{$medium-up}{
      display: block;
      float: left;
      text-align: left;
      width: 100%;
    }

    strong {
      float: left;
      width: 100%;
      font-size: 19px;
      font-weight: 600;
      line-height: 1.1em;
    }
  }

  .mailing-list__title {
    width: 100%;
    float: left;
    display: block;
    padding: 3px 0 3px;

    @media #{$medium-up}{
      width: 270px;
      padding: 3px 0 3px;
    }
  }

  .mailing-email {
    border: 0px;
    color: $oil;
    padding: 0 20px;
    outline: none;
    float: none;
    display: inline-block;

    &::-webkit-input-placeholder { 
      color: $oil;
    }
    &:-moz-placeholder { 
      color: $oil;
    }
    &::-moz-placeholder { 
      color: $oil;
    }
    &:-ms-input-placeholder { 
      color: $oil;
    }
  }

  input {
    border: 0px;
    height: 40px;
    float: left;
  }

  .mailing-email {
    background: $white;
  }

  .button {
    float: none;
    display: inline-block;
    //color: $oil;
    font-weight: 400;

    &:hover {
      //color: $white;
    }
  }
}