<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

  {{>head}}

</head>
<body id="top">

  {{> docs-nav}}

  <div class="docs-title">
    <h3>Project Name</h3>
    <h4>{{title}}</h4>

    <p>
      Last Updated
      </br>
      <strong>{{#date}}{{/date}}</strong>
    </p>
  </div>

  {{>docs-side-nav}}

  <div class="docs-page">
    {% body %}
  </div>

<script src="/assets/js/main.js"></script>

<script type="text/javascript" src="/assets/js/libs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>